body {
    color: black;
}

.titre {
    text-align: center;
    max-width: 450px;
}

.juge {
    width: 100%;
    border-radius: 10px;
    height: 100%;

}

input {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border-radius: 0;
    border: 1px solid darkgray;
}

button {
    color: white;
    background-color: black;
    font-weight: bold;
    width: 100%;
    border: 1px solid black;
    border-radius: 0;
    padding: 5px;
    margin: 10px auto;
}

button:hover {
    background-color: white;
    color: black;
    transition: 0.5s ease-in-out;
}

.boite {
    margin: 40px 40px 0 40px;
    padding: auto;
    max-width: 400px;
    width: 100%;
}

.centrer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
}

.cadre {
    background-color: lightgray;
    max-width: 1000px;
    margin: 150px auto;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.nopad {
    padding: 0;
}

.pad {
    padding-top: 100px;
}

a {
    color: black;
}

@media (max-width: 767px) {
    .cadre {
        margin-top: 0;
        margin-bottom: 0;
    }

    .juge {
        max-height: 450px;
    }

}